@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #FCE7E7;
    width: 100%;
    overflow-x: hidden;
    color: black;
}

html, body {
    @apply overflow-x-hidden;
}


/* @keyframes nav-slide {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
} */
